global
    daemon
    maxconn 256

defaults
    mode http
    timeout connect 5000ms
    timeout client 50000ms
    timeout server 50000ms
    default-server init-addr none downinter 1s

resolvers dockerdns
    nameserver dns1 127.0.0.11:53
    resolve_retries 3
    timeout retry 1s
    hold other 30s
    hold refused 30s
    hold nx 30s
    hold timeout 30s
    hold valid 10s

listen http-in
    bind *:80
    server server1 ${BACKEND_HOSTNAME}:8000 resolvers dockerdns maxconn 4 check
